.theme_light {
  /* Переменные светлой темы */
  --bg-color: #fff1f7; 
  --text-color: #353430; 
  --accent-color: #353430; 
  --opacity: rgba(50, 49, 45, 0.4);
  --focus-color: #ffc2e6;
  --text-shadow: #ff0070;
  --title-decor: #ff8dcb;
  --outline: #353430;
  --main-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7; 
    --text-color: #353430; 
    --accent-color: #353430; 
    --opacity: rgba(50, 49, 45, 0.4);
    --focus-color: #ffc2e6;
    --text-shadow: #ff0070;
    --title-decor: #ff8dcb;
    --outline: #353430;
    --main-text-color: #353430; 
    --background-image: url(../images/cover-image-light.png);
    --rec-display: none;
  }
}
