/*Переменные для вашего проекта и их переопределение под различные устройства*/

:root {
  /*переменные темной темы*/
  --main-font: IBM Plex Mono; /*основной шрифт*/
  --bg-color: #000028; /*цвет фона в main и footere*/
  --text-color: #000028; /*цвет текста в шапке: "Что делать когда не можешь делать ничего"*/
  --accent-color: #ff0070; /*цвет уголков и декорации*/
  --opacity: rgba(255, 0, 112, 0.4);
  --focus-color: #db00ff;
  --text-shadow: #ff0070;
  --title-decor: #ff0070;
  --outline-border: #ff0070;
  --main-text-color: #f1b2ce; /*цвет текста в секциях*/
  --background-image: url(../images/cover-image-dark.png);
  --title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --rec-display: block;
  --link-focus:  #f1b2ce;
  --link-shadow: #ff0070;
   
 


}