/*Переменные для вашего проекта и их переопределение под различные устройства*/

:root {
  /*переменные темной темы*/
  --main-font: IBM Plex Mono; 
  --bg-color: #000028; 
  --text-color: #000028; 
  --accent-color: #ff0070; 
  --opacity: rgba(255, 0, 112, 0.4);
  --focus-color: #db00ff;
  --text-shadow: #ff0070;
  --title-decor: #ff0070;
  --outline: #ff0070;
  --main-text-color: #f1b2ce; 
  --background-image: url(../images/cover-image-dark.png);
  --title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --rec-display: block;
}
